first_project_0.json
{
  "name": "first",
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "3ca6882b-beaf-4db4-84d0-70dfee886782",
      "name": "When chat message received",
      "webhookId": "2b7f25c4-0c38-4e4a-8865-15126c689160"
    },
    {
      "parameters": {
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "1eb203ff-6fdb-48b3-af1c-b914c76a93fe",
      "name": "Chat",
      "webhookId": "36301027-be09-4d32-97d1-9da74ad5a3e4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "095a6e9c-3760-4ea9-b184-e8657800d575",
              "name": "text",
              "value": "={{ $('When chat message received').item.json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "e637e8ca-6edb-4dee-a939-592240acd76a",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ec74840b-7acf-4dda-85bc-3621bec07e9d",
  "meta": {
    "instanceId": "6081687b24aeec3ab2c80aa4a94c8132b9416141577e26ac52b4f95a5187b39f"
  },
  "nodeGroups": [],
  "id": "0SE5Jv8P93F5MfL7",
  "tags": []
}